@import './components/MotoCard/index.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-logo {
  width: 50vw; 
}
.header-logo-background{
  background-color: white;
}

a {
  text-decoration: none;
  font-size: larger;
}
.footer{
  background-color: coral;
}

#but1 {
  color:orangered;
  background-color: rgb(31, 25, 80);
  border-radius: 12px;
}

#but2 {
  color:orangered;
  background-color: rgb(31, 25, 80);
  border-radius: 12px;
  
}

#year {
  background-color: aqua;
  border-radius: 10px;
}

#year:hover {
  background-color: bisque;

}
#but1:hover {
  background-color: #fff;
  color: black;
}

#but2:hover {
  background-color: #fff;
  color: black;
}
#instruction {
  font-family: sans-serif;
  font-weight: 600;
}
